html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 10px;
}


.field-validation-error{
    color:#e01d1d;
    display:flex;
    margin-left:6px;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}
form{
    font-family: Arial;
}
form div{
    margin-bottom:15px;
}
form div label{
    display: flex;
    margin-left: 5px;
}
form div #AddInput{
    padding: 10px;
    width: 30em;
    border-radius: 15px;
}



#IndexTitle {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

    #IndexTitle a {
        margin-top: 2rem;
    }

#table-Clients td {
    text-align: start;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:7rem;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0B5ED7;
        color: white;
    }

#PrintPageContent{
    font-size: 18px;
    margin-top:15rem;
    margin-bottom:12rem;
}
img {
    width: 300px;
    height: 200px;
    margin-bottom: 6rem;
    margin-top: -5rem;
}

#useSection select{
    margin-bottom: 20px;
    margin-top: 20px;
}

#useSection div{
    width:350px;
}