@model ClientModel;
@{
    ViewData["Title"] = "AddClient Page";
}

<div class="text-center">
    <h1 class="display-4">Novo cliente</h1>
    <form asp-controller="Client" asp-action="AddClient" method="post">
        <div class="form-group">
            <label for="Name">Nome</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Digite o nome do cliente">
        </div>

        <div class="form-group">
            <label for="Name">Telefone</label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" required-placeholder="(xx) xxxxx-xxxx">
        </div>

        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a role="button" class="btn btn-secondary" asp-controller="Client" asp-action="Index">Voltar</a>
    </form>
</div>
